body {
    background: #FBFBFB;
    color: #333;
    font-family: 'Open Sans', 'Droid Sans', Arial, sans-serif;
}

#content {
    margin: auto;
    width: 8in;
    padding: .5in;
}

#contact {
    float: right;
    text-align: right;
    margin-left: .5em;
}

#contact div {
    margin: .5em;
}

img {
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
}

a {
    color: #333;
}

h1 {
    margin-top: 0;
}

.section {
    padding-left: 2em;
    padding-bottom: 1em;
    margin-top: -.5em;
}

dt, dd {
    margin-bottom: .25em;
}