<div>
    <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.contact.email }}?s=200"
        alt="{{ .Site.Params.author }}" />
</div>
<div>
    {{ range .Site.Params.contact.list }}
    <a href="{{ .url }}"><i class="{{ .class }} {{ .icon }}" style="font-size: 2em;"></i></a>
    &nbsp;
    {{ end }}
</div>
{{ if .Site.Params.contact.email }}
<div>
    <a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a>
</div>
{{ end }}
{{ if .Site.Params.contact.phone }}
<div>
    <i class="fa fa-phone"></i> <a href="tel:{{ .Site.Params.contact.phone }}">{{ .Site.Params.contact.phone }}</a>
</div>
{{ end }}
