<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="author" content="{{ .Site.Params.author }}" />
    <title>{{ .Site.Params.title }}</title>

    <link href="{{ `css/resume.css` | relURL }}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />

    <style type="text/css">
        code {
            white-space: pre;
        }
    </style>
</head>